.Button {
  border: none;
  background-color: rgb(62, 219, 247);
  color: white;
  width: 100px;
  height: 40px;
  //   min-width: fit-content;
  //   min-width: calc(fit-content + 100px);

  padding: 10px;
  // margin: 10px;
  font-size: 15px;
  border-radius: 10px;
  

  img { 
    left: 0;
    max-width: 30%;
    max-height: 80%;
    // border: blanchedalmond 2px solid;
    margin: auto 0;
  }
}

.Button:hover { 
  background-color: rgb(111, 111, 224);
  cursor: pointer;
}
