.Button {
  border: none;
  background-color: rgb(62, 219, 247);
  color: white;
  width: 100px;
  //   min-width: fit-content;
  //   min-width: calc(fit-content + 100px);

  padding: 10px 0;
  margin: 10px;
  font-size: 15px;
  border-radius: 5%;
}
