// @import "../../variables.scss";

%card {
  height: 350px;
  width: 250px;
  //   border: solid black 3px;
  backface-visibility: hidden;
  background-color: white;
  position: absolute;

  &:hover {

    cursor: pointer;
  }
}

.playerCard {
  height: 350px;
  width: 250px;
  transition: transform 1s;
  transform-style: preserve-3d;
    // perspective: 600px;
  position: relative;
  z-index: 0;
  margin: 10px auto;

  &.faceDown {
    transform: rotateY(180deg);
  }

  .front {
    @extend %card;
  }

  .back {
    @extend %card;
    transform: rotateY(180deg);
  }
}

@media only screen and (min-width: 768px) {
  .playerCard {
  margin: 10px 10;
  }

}

