@import "../../assets/variables.scss";

.Navbar {
  width: 100%;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: middle;
  background-color: $navy;
  color: $suspensionPink;
  // margin: auto;
  padding: 20px;

  h1 { 
    margin: auto 0;
  }

  div { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;

  .navHR { 
    height: 50px;
    max-width: 250px;
    padding: 0.25rem;
    position: relative;
    background-image: linear-gradient(to top, rgba($suspensionPink, 0.25), rgba($suspensionPink, 0.75), rgba($suspensionPink, 0.25));
    border: none;
    padding: 1.5px;
    margin-top: 5px;
  }

  }
}



@media only screen and (min-width: 768px) {
.Navbar { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div { 
    display: flex;
    justify-content: space-evenly;

    .navHR { 
      margin: 0 10px;
    }
    // flex-direction: column;
  }
  // position: fixed;
  // height: 10vh;
  // z-index: 1;

}
}

@media only screen and (min-width: 768px) {
  .Navbar { 
    position: fixed;
    height: 10vh;
    z-index: 1;
  
  }
  }
  
