@import "../../assets/variables.scss";

.cardFront {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .baseCard {
    color: white;
    height: 350px;
    width: 250px;
    border-radius: 5%;
    position: relative;
    background-color: blue;
    margin: auto;

    .bottomCard {
      height: 100%;
      width: 100%;
      border-radius: 5%;

      img {
        max-height: 100%;
        max-width: 100%;
        opacity: 0.3;
      }
    }

    .lowerCard {
      top: 0;
      height: 100%;
      width: 100%;

      border-radius: 5%;
      position: absolute;

      img {
        max-width: 100%;
        max-height: 100%;

        margin: 0 auto;
        position: absolute;
        bottom: 0;
        padding-bottom: 60px;
      }
    }

    .middleCard {
      bottom: 0;
      height: 30%;
      width: 100%;

      border-radius: 5%;
      position: absolute;

      background: rgb(2, 0, 36);
      background: linear-gradient(
        360deg,
        rgba(2, 0, 36, 1) 32%,
        rgba(9, 9, 121, 1) 64%,
        rgba(0, 149, 255, 0.05) 90%
      );
    }

    .topCard {
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 5%;
      position: absolute;

      .topCardOrganise {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .season {
          height: 10%;
          display: flex;
          justify-content: space-between;
          align-content: center;
          padding: 10px;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              font-weight: 900;
            }

            img {
              border-radius: 50%;
              height: 30px;
              width: 30px;
            }
          }

          .seasonYear {
            transform: rotate(90deg);
            margin-top: 30px;
            margin-left: -10px;
          }
        }

        .playerDetails {
          bottom: 0;

          .playerDetailsName {
            text-align: center;
            // text-align: left;
            // margin-left: 5%;

            .playersName { 
              font-weight: 800;

            }

            .playersPosition { 
              font-weight: 750;

            }
          }

          .playerDetailsInfo {
            display: flex;
            text-align: left;
            width: fit-content;
            margin: 0 auto;


            div {
              padding: 0 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;

              p {
                text-align: center;
              }

              .positionSelect {
                color: red;

                .selectOption {
                  color: pink;
                  text-align: left;
                }
                .selectOption:hover {
                  background-color: grey;
                }
              }
            }

            // .selectDrop {
            //   border: solid red 2px;
            //   background-color: red;
            // }
          }

          .playerButtons {
            margin: auto;
            text-align: center;



            .selectButton { 

              border: none;
              border-radius: 10px;
              background-color: $suspensionPink;
              width: 20%;
              margin: 10px auto;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 1024px) {





}