* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  .allCards {
    display: grid;
    grid-template-columns: auto;
    border: solid pink 3px;
  }
}

@media only screen and (min-width: 768px) {
  .App {
  .allCards {
    display: grid;
    grid-template-columns: auto auto;
    border: solid blue 3px;
  }
}
}

@media only screen and (min-width: 1024px) {
  .App {
  .allCards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: solid blue 3px;
  }
}
}
