@import "./assets/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  .main {
    .allCards {
      display: grid;
      grid-template-columns: auto;
      // border: solid pink 3px;

      .filter { 
        display: flex;
        img { 
          height: 50px;
          width: 50px;
        }
      }
    }

    .Pitch {
      display: none;
    }

    .teamScore { 
      padding: 0 20px;
      height: 7.5vh;
      background-color: $navy;
      width: 100vw;

      bottom: 0;
      // right: 0;
      position: fixed;
      color: pink;
      display: flex;
      justify-content: space-between;

      div { 
        display: flex;

        p { 
          padding: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .App {
    .main {
      .allCards {
        display: grid;
        grid-template-columns: auto auto;
        // border: solid blue 3px;
      
    }

    .teamScore { 
      padding: 0 20px;
      height: 5vh;
      background-color: $navy;
      width: 100vw;

      bottom: 0;
      position: fixed;
      color: pink;
      display: flex;
      justify-content: space-between;

      div { 
        display: flex;

        p { 
          padding: 5px;
        }
      }
    }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    .main {
      position: relative;
      border: solid yellow 3px;

      display: flex;
      flex-direction: row;

      .allCards {

        position:absolute;
        left: 0;
        top: 10vh;
        display: grid;
        grid-template-columns: auto auto;
        // border: solid yellow 3px;
        width: 50vw;
        // position: absolute;
      }
      .Pitch {
        display: unset;
        position: fixed;
        right: 0;
        top: 10vh;
        height: 90vh;
        width: 50vw;
        // border: blue 2px solid;
        border-left: solid black 2px;



        .PitchImage {
          position: absolute;
          margin-left: 5vw;
          margin-top: 5%;
          // border: solid 2px red;
          // padding-left: 20px;
          height: 85%;
          width: 40vw;
          
          background-image: url(./assets/images/Rugby_union_pitch.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
  
          .frontRow,
          .secondRow,
          .backRow {
            display: flex;
            margin: auto;
            // border: solid red 2px;

        }

        }
      }   

    }
    // .teamScore { 
    //   padding: 0 20px;
    //   height: 5vh;
    //   background-color: $navy;
    //   width: 50vw;
    //   display: flex;
    //   bottom: 0;
    //   right: 0;
    //   position: absolute;
    //   color: pink;
    //   display: flex;
    //   justify-content: space-between;

    //   div { 
    //     display: flex;

    //     p { 
    //       padding: 5px;
    //     }
    //   }
    // }
  }
}
