* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  .team {
    margin: auto;
    border: solid red 2px;
    max-width: 90vw;
    display: grid;
    grid-template-columns: auto auto;
    // grid-auto-rows: auto;
  }
  .allCards {
    display: grid;
    grid-template-columns: auto;
    border: solid pink 3px;
  }
}

@media only screen and (min-width: 768px) {
  .allCards {
    display: inline-grid;
    grid-template-columns: auto auto;
    border: solid blue 3px;
  }
}
